body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  width: 50%;
  margin-left: 25%;
  border: 1px solid rgb(170, 169, 169);
  background: rgb(219, 217, 217);
}
.list-group {
  padding: 10px;
}
.todo-card {
  width: 80%;
  margin-left: 10%;
  list-style: none;
}
h6 {
  text-align: center;
}
.content {
  overflow: auto;
  width: 100%;
  margin: 2em auto;
}

.left {
  width: 70%;
  margin: 5px;
  padding: 1em;
  background: white;
}
.right {
  width: 25%;
  margin-left: 0;
  margin: 5px;
  padding: 1em;
  background: white;
}

.left {
  float: left;
}
.right {
  float: right;
  background-color: turquoise;
}
